@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


@theme {
    --font-manrope:  "Manrope", sans-serif;
    --color-Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --color-Grayish-Blue: hsl(212, 23%, 69%);
    --color-Very-Dark-Grayish-Blue: hsl(217, 19%,35%);
    --color-Light-Grayish-Blue: hsl(210, 46%, 95%);
}

.flexC {
    @apply flex items-center justify-center
}