* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Outfit", sans-serif;
}

.card-container {
    max-width: 265px;
    border-radius: 12px;
    padding: 20px;
    background-color: hsl(216, 50%, 16%);
}

.img-container img {
    width: 265px;
    border-radius: 6px;
}

h1 {
    margin-block: 10px;
    font-weight: 600;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
}

.content {
    line-height: 24px;
    color: #6A7F9C;
    font-size: 15px;
}

.eth-container {
    margin-block: 18px;
    display: flex;
    justify-content: space-between;
}

.eth-value , .later {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.later {
    column-gap: 5px;
}

.later p {
    color: hsl(215, 51%, 70%);
}


.eth-value p {
    color: hsl(178, 100%, 50%);
}

.line {
    border: 1px solid hsl(215, 32%, 27%);
}

.footer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.footer img {
    border-radius: 50%;
    width: 30px;
    border: 1.4px solid white;
    margin-right: 14px;
}

.footer p {
    color: white;
    font-size: 14px;
}
